body {
    font-family: Aril, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    color: blue;
    text-align: center;
    font-size: 1.5em;
}

header {
    background-color: blueviolet;
    color: aquamarine;
    text-align: left;
}
.csmju-text{
    
}


